<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
    <body>
        <!--ENCABEZADO-->
        <%- include('../partials/header') %>

        <!--SLIDER-->
        <div class="slider">
            <ul>
                <li>
                    <img src="/images/banner1.jpg">
                </li>
                <li>
                    <img src="/images/banner2.jpg">
                </li>
                <li>
                    <img src="/images/banner3.jpg">
                </li>
                <li>
                    <img src="/images/banner4.jpg">
                </li>
            </ul>
        </div>

        <!--SECCION DE PRODUCTOS-->
        <main class="index-img">
            <% if (locals.userLoged) { %>
                <% if (locals.userLoged.roles_id ==  1) { %>
                    <a href="/products/createProduct"><button class="addprodbtn">Agregar Producto</button></a>
                <% } %>
            <% } %>
            <h2>NOVEDADES</h2>
            <section class="Productos-relacionados contenedor-grid">

                <% for( let i =0; i < products.length; i++ ) { %>
                    <article>
                    <a href="/products/detailProduct/<%= products[i].id %> ">
                        <% for( let j = 0; j < products[i].images.length; j++ ) { %>
                            <img src="/images/products/<%= products[i].images[j].name %> " alt="portada<%= products[i].name %> ">
                        <% } %>
                       
                    </a>
                    <div class="main-product">
                        
                        <h3><%= products[i].name%> <i class="fas fa-book"></i></h3>
                        <p>$<%= products[i].price %> </p>
                        <% if (locals.userLoged) { %>
                            <% if (locals.userLoged.roles_id ==  1) { %>
                                
                            <% } %>
                        <% }else{ %>
                                <div class="agregarCarrito">
                                    <input type="submit" class="btn2" value="Agregar carrito">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                            <% } %>
                            <% if (locals.userLoged) { %>
                                <% if (locals.userLoged.roles_id ==  1) { %>
                                    <div class="boton-delate">
                                        <a href="/products/edit/<%= products[i].id %> " class="action-button-edit">EDITAR PRODUCTO</a>
                                                <form action="/products/delete/<%= products[i].id %>" method="POST" style="display: inline-flex">
                                                    <button type="submit" class="action-button-delete">ELIMINAR</button>
                                                </form>
                                        </div>
                                <% }else{ %>
                                    
                                <% } %>
                            <% } %>
                        </form>
                    </div>
                </article>
                <% } %>
                

            </section>

             
            
        </main>

        <!--PIE DE PAGINA-->
        <%- include('../partials/footer') %>
        
    </body>
</html>
